/*************** FOOTER ***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #3e515b !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.nav-footer a{
    color: #9b9b99;
    text-transform: uppercase;
    font-weight: 400;
}
.footer a:hover{
    color: #d8d8d8;
}
.copyright{
    color: #9b9b99;
}
.footer .nav-link{
    border-right: solid 2px #9b9b99;
    line-height: 2px;
}
