.container-footer{
    width: 100%;
    height: 137px;
    background: 3e515b;
    background: #3e515b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu-footer{
padding-left: 80px;

}

.nav-footer{
    color: #9b9b99;
    text-transform: uppercase;
    font-weight: 600;
}

.copyright{
    padding-right: 80px;
    color: #9b9b99;
    
}
a{
    color: #9b9b99;
}

a:hover{
    color: #d8d8d8;
}
.nav-link{
    border-right: solid 2px #9b9b99;
    line-height: 2px;
}
