/*************** SERVICE 4 CATEGORIES ***************/
.service{
    background-image: url(images/fondservices.png) !important;
}
.service_titre{
    color: white;
    padding: 60px 0px 30px 0px;
}
.service_text{
    color: white;
    padding: 30px 0px 60px 0px;
}
.service_text h2{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}
