/*************** SERVICE 4 CATEGORIES ***************/
.service{
    background-image: url(images/fondservices.png);
}
.service_titre{
    color: white;
    padding: 60px 0px 30px 0px;
}
.service_titre h2{
    text-transform: uppercase;
}
.service_titre h2::after {
    display: flex;
    content: "";
    margin-top: 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    width: 70px;
}
.service_text{
    color: white;
    padding: 30px 0px 60px 0px;
}
.service_text h3{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}
