/*************** TWITTER ***************/
.twitter{
    background-image: url(images/fondservices.png);
    padding: 50px 0px;
}
.twitter_titre{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    margin-bottom: 15px;
}
.twitter_titre h2{
    width: 95%;
    text-transform: uppercase;
    font-weight: lighter;
}
.twitter_titre img{
    width: 5%;
}
.twitter_titre h2::after {
    display: flex;
    content: "";
    margin-top: 3px;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    width: 70px;
}
.twitter_info p{
    color: white;
}
.twitter_info a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}